<div class="modal-header">
    <h3 class="modal-title">Welcome to NZBHydra 2</h3>
</div>
<div class="modal-body" style="text-align: left">
    This seems to be the first time that you started NZBHydra 2.
    <br><br>
    If you're already using NZBHydra 1 (python based) you can <a href="#" ng-click="startMigration()">migrate your data</a>.
    <br><br>
    If you're a new user (or don't want to migrate your data right now) you can start by <a href="#" ng-click="goToConfig()">configuring NZBHydra 2</a>.
    <br>
    You will not be able to use it until you've added at least one indexer.
    <br><br>
    If you're stuck you can refer to <a href="https://github.com/theotherp/nzbhydra2/wiki">the wiki</a> or the online help (available from the config).<br>
    If you haven't found an answer there you're welcome to raise a GitHub issue or create a thread on reddit. TODO links

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="close()">Close</button>
</div>
