target/
!.mvn/wrapper/maven-wrapper.jar
.idea/*
*.iws
*.ipr
*.iml
*.db
/bower_components
/node_modules
/nzbhydra.db.*
*.pid
/logs
/config
/database/
token.txt
pom.xml.versionsBackup
*.bak
*.phd
javacore*
heapdump*
/ui
*token*
*.env

!/.idea/compiler.xml
!/.idea/vcs.xml
!/.idea/misc.xml
misc/rsyncToServers.sh
misc/build-logs
misc/.build-release-state.json
/nzbhydra.yml
/results
other/wrapper/pyInstaller/windows/build
other/wrapper/pyInstaller/windows_console/build

**/.DS_Store
core/ui-src/hydra-ng
