target/
!.mvn/wrapper/maven-wrapper.jar
.idea/*
*.iws
*.ipr
*.iml
*.db
/bower_components
/node_modules
/nzbhydra.db.*
*.pid
/logs
/config
/database/
token.txt
pom.xml.versionsBackup
*.bak
*.phd
javacore*
heapdump*
/ui

!/.idea/compiler.xml
!/.idea/vcs.xml
!/.idea/misc.xml
misc/rsyncToServers.sh
/nzbhydra.yml
