<div ng-if="::!columnFilterWrapperCtrl.inline" class="btn-group filter-wrapper"
     ng-class="{'open':columnFilterWrapperCtrl.open}" click-outside="columnFilterWrapperCtrl.clear()"
     outside-ignore="{{!columnFilterWrapperCtrl.open}}">
    <button id="single-button" type="button" class="btn btn-primary dropdown-toggle column-filter toggle-column-filter"
            ng-click="columnFilterWrapperCtrl.toggle()">
        <span class="glyphicon glyphicon-filter" ng-class="{'filter-active': columnFilterWrapperCtrl.isActive}"></span>
    </button>
    <ul role="menu" class="dropdown-menu" ng-transclude>

    </ul>
</div>
<span ng-if="::columnFilterWrapperCtrl.inline" style="margin-left:-5px" ng-transclude>

</span>
