<div class="row" style="margin-top: 30px; margin-bottom: 20px">
    <div class="col-md-5"></div>
    <div class="col-md-10" style="text-align: center">
        <dir-pagination-controls on-page-change="update()" pagination-id="downloads"></dir-pagination-controls>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th class="col-md-2">
            <column-sortable column="time" start-mode="2" style="width: 10%">Time
            </column-sortable>
            <column-filter-wrapper>
                <time-filter column="time" selected="preselectedTimeInterval"/>
            </column-filter-wrapper>
        </th>
        <th class="col-md-2">
            <column-sortable column="indexer.name" style="width: 10%">Indexer
            </column-sortable>
            <column-filter-wrapper>
                <checkboxes-filter column="indexer" entries="indexersForFiltering" preselect="true" show-invert="true"/>
            </column-filter-wrapper>
        </th>
        <th class="col-md-8" style="width: 48%">
            <column-sortable column="title">Title
            </column-sortable>
            <column-filter-wrapper>
                <freetext-filter column="title"/>
            </column-filter-wrapper>
        </th>
        <th class="col-md-1" style="width: 9%">
            <column-sortable column="status">Result <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                                          uib-tooltip="Actual download result only available if Hydra's downloader user scripts are used"></span></div>
            </column-sortable>
            <column-filter-wrapper>
                <checkboxes-filter column="status" entries="statusesForFiltering" preselect="true" show-invert="false"/>
            </column-filter-wrapper>
        </th>
        <th class="col-md-1" style="width: 7%">
            <column-sortable column="access_source">Source
            </column-sortable>
            <column-filter-wrapper>
                <boolean-filter column="access_source" options="accessOptionsForFiltering" preselect="0"/>
            </column-filter-wrapper>
        </th>
        <th class="col-md-1" style="width: 6%">
            <column-sortable column="age">Age</column-sortable>
            <column-filter-wrapper>
                <freetext-filter column="age"/>
            </column-filter-wrapper>
        </th>
        <th class="col-md-2" style="width: 10%">
            <column-sortable column="username_or_ip">User / IP</column-sortable>
            <column-filter-wrapper>
                <freetext-filter column="username_or_ip"/>
            </column-filter-wrapper>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="nzbDownload in nzbDownloads | itemsPerPage: limit" total-items="totalDownloads" current-page="pagination.current" pagination-id="downloads">
        <td class="narrow-row">{{ nzbDownload.time | reformatDate }}</td>
        <td class="narrow-row">{{ nzbDownload.indexer.name }}</td>
        <td class="narrow-row">
            <addable-nzbs search-result-id="nzbDownload.searchResultId" ng-style="{'visibility':!nzbDownload.searchResultId ? 'hidden' : 'initial'}"></addable-nzbs>
            <a target="_blank" href="{{ nzbDownload.detailsLink | dereferer }}" ng-if="nzbDownload.detailsLink">{{ nzbDownload.title }}</a><span ng-if="!nzbDownload.detailsLink">{{ nzbDownload.title }}</span>
        </td>
        <td class="narrow-row">
            <span ng-bind-html="getStatusIcon(nzbDownload.status)" uib-tooltip="{{nzbDownload.status}}"></span>
        </td>
        <td class="narrow-row">{{ nzbDownload.accessSource === "INTERNAL" ? "Internal" : "API"}}</td>
        <td class="narrow-row">{{ nzbDownload.age }}</td>
        <td class="narrow-row">{{ nzbDownload.usernameOrIp }}</td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="downloads"></dir-pagination-controls>
