<pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 l2,-2
           M0,4 l4,-4
           M3,5 l2,-2"></path>
</pattern>
<div class="row" style="margin-top: 30px; margin-bottom: 30px">
    <div class="col-md-6" style="font-size: x-small; text-align: justify; text-justify: auto">
        Disclaimer: Don't read too much into these stats. Which indexer is picked for a download depends on its score and some more or less random values like posting time of the NZB.
        Some indexers might have nightly downtime which would influence the successful percentage.
    </div>
    <div class="col-md-4">
        <p class="input-group">
            <span class="input-group-addon" id="after-addon">After</span>
            <input type="text" class="form-control" uib-datepicker-popup ng-model="afterDate" is-open="after.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                   ng-keypress="onKeypress($event)"/>
            <span class="input-group-btn input-group-btn2">
            <button type="button" class="btn btn-default" ng-click="openAfter()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
    <div class="col-md-4">
        <p class="input-group">
            <span class="input-group-addon" id="before-addon">Before</span>
            <input type="text" class="form-control" uib-datepicker-popup ng-model="beforeDate" is-open="before.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                   ng-keypress="onKeypress($event)"/>
            <span class="input-group-btn input-group-btn2">
            <button type="button" class="btn btn-default" ng-click="openBefore()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
    <div class="col-md-5">
        <label>Show disabled indexers</label>
        <input bs-switch type="checkbox" ng-model="foo.includeDisabledIndexersInStats" switch-change="toggleIncludeDisabledIndexers()"/>
    </div>
</div>


<div cg-busy="{promise:statsLoadingPromise,message:'Calculating stats', delay:100}">
    <div class="row">
        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                <input bs-switch type="checkbox" ng-model="foo.statsSwichState.avgResponseTimes" switch-size="mini" ng-change="onStatsSwitchToggle('avgResponseTimes')">
                </span>


                Avg. response times <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                          uib-tooltip="Response time is the time an API request takes, from start to completion of the web call"></span></div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.avgResponseTimes">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Indexer</th>
                        <th>Avg. response time</th>
                        <th>Delta</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="avgResponseTime in stats.avgResponseTimes">
                        <td>{{ avgResponseTime.indexer }}</td>
                        <td>{{ avgResponseTime.avgResponseTime }}</td>
                        <td>{{ avgResponseTime.delta }}</td>
                    </tr>
                    </tbody>
                </table>

                <chart>
                    <nvd3 options="avgResponseTimesChart.options" data="avgResponseTimesChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>


        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                <input bs-switch type="checkbox" ng-model="foo.statsSwichState.avgIndexerSearchResultsShares" switch-size="mini" ng-change="onStatsSwitchToggle('avgIndexerSearchResultsShares')">
                </span>
                Average results <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                      uib-tooltip="How many results the indexer on average contributed to specific searches (i.e. update queries e.g. for the latest releases in a specific category are ignored)"></span>
                and average unique results <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top-right"
                                                 uib-tooltip-html="'How many of the results the indexer contributed to searches were unique (only returned by this indexer). <br>Results from raw search engines are excluded because they would be misleading.'"></span>
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.avgIndexerSearchResultsShares">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Indexer</th>
                        <th>Avg. results (%)
                        </th>
                        <th>Avg. unique results (%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="avgIndexerSearchResultsShare in stats.avgIndexerSearchResultsShares">
                        <td>{{ avgIndexerSearchResultsShare.indexerName }}</td>
                        <td>{{ avgIndexerSearchResultsShare.totalShare | number: 1}}</td>
                        <td>{{ avgIndexerSearchResultsShare.uniqueShare | number: 1}}</td>
                    </tr>
                    </tbody>
                </table>
                <chart>
                    <nvd3 options="resultsSharesChart.options" data="resultsSharesChart.data"></nvd3>
                </chart>
            </tab-or-chart>

        </div>
    </div>

    <div class="row" style="margin-bottom: 50px">
        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                <input bs-switch type="checkbox" ng-model="foo.statsSwichState.indexerApiAccessStats" switch-size="mini" ng-change="onStatsSwitchToggle('indexerApiAccessStats')">
                </span>
                <caption>Indexer API accesses <span class="glyphicon glyphicon-question-sign" tooltip-placement="top"
                                                    uib-tooltip="An API access is considered failed only when the indexer could not be reached, not if auth was unsuccessful or Hydra had an unexpected error. The average calculation only spans the time since the first search with the indexer."></span>
                </caption>
            </div>
            <table class="table" style="margin-top: 9px" ng-show="foo.statsSwichState.indexerApiAccessStats">
                <thead>
                <tr>
                    <th>Indexer</th>
                    <th>Avg. per day</th>
                    <th>% successful</th>
                    <th>% failed</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="avgIndexerAccessSuccess in stats.indexerApiAccessStats">
                    <td>{{ avgIndexerAccessSuccess.indexerName }}</td>
                    <td>{{ avgIndexerAccessSuccess.averageAccessesPerDay | number: 0 }}</td>
                    <td>{{ avgIndexerAccessSuccess.percentSuccessful | number: 0}}</td>
                    <td>{{ avgIndexerAccessSuccess.percentConnectionError | number: 0 }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                <input bs-switch type="checkbox" ng-model="foo.statsSwichState.indexerDownloadShares" switch-size="mini" ng-change="onStatsSwitchToggle('indexerDownloadShares')">
                </span>
                NZB downloads per indexer <span class="glyphicon glyphicon-question-sign" tooltip-placement="top"
                                                uib-tooltip="Only downloads by enabled indexers are taken into account and displayed"></span></caption>
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.indexerDownloadShares">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Indexer</th>
                        <th>Total</th>
                        <th>% of all enabled</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="indexerDownloads in stats.indexerDownloadShares">
                        <td>{{ indexerDownloads.indexerName }}</td>
                        <td>{{ indexerDownloads.total | number: 0}}</td>
                        <td>{{ indexerDownloads.share | number: 0 }}</td>
                    </tr>
                    </tbody>
                </table>

                <chart>
                    <nvd3 options="indexerDownloadSharesChart.options" data="indexerDownloadSharesChart.data"></nvd3>
                </chart>
            </tab-or-chart>


        </div>
    </div>

    <div class="row">
        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                <input bs-switch type="checkbox" ng-model="foo.statsSwichState.downloadsPerAgeStats" switch-size="mini" ng-change="onStatsSwitchToggle('downloadsPerAgeStats')">
                </span>
                NZB downloads per age (in 100 day steps, all downloads)
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.downloadsPerAgeStats">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Average age</td>
                        <td>{{ stats.downloadsPerAgeStats.averageAge}}</td>
                    </tr>
                    <tr>
                        <td>% older than 1000 days</td>
                        <td>{{ stats.downloadsPerAgeStats.percentOlder1000 | number : 1}}</td>
                    </tr>
                    <tr>
                        <td>% older than 2000 days</td>
                        <td>{{ stats.downloadsPerAgeStats.percentOlder2000 | number : 1}}</td>
                    </tr>
                    <tr>
                        <td>% older than 3000 days</td>
                        <td>{{ stats.downloadsPerAgeStats.percentOlder3000 | number : 1}}</td>
                    </tr>
                    </tbody>
                </table>

                <chart class="downloadsPerAge">
                    <nvd3 options="downloadsPerAgeChart.options" data="downloadsPerAgeChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>

        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                <input bs-switch type="checkbox" ng-model="foo.statsSwichState.successfulDownloadsPerIndexer" switch-size="mini" ng-change="onStatsSwitchToggle('successfulDownloadsPerIndexer')">
                    </span>
                Successful downloads per indexer <span class="glyphicon glyphicon-question-sign" tooltip-placement="top"
                                                       uib-tooltip="Only works if user scripts report the actual download result of a NZB's content"></span>
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.successfulDownloadsPerIndexer">
                <table class="table">
                    <thead>
                    <th>Indexer</th>
                    <th>% of downloads successful</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in stats.successfulDownloadsPerIndexer">
                        <td>{{ stat.indexerName}}</td>
                        <td>{{ stat.percentage | number : 1}}</td>
                    </tr>
                    </tbody>
                </table>

                <chart class="successfulDownloadsPerIndexerChart">
                    <nvd3 options="successfulDownloadsPerIndexerChart.options" data="successfulDownloadsPerIndexerChart.data"></nvd3>
                </chart>
            </tab-or-chart>

        </div>
    </div>


    <div class="row">
        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                    <input bs-switch type="checkbox" ng-model="foo.statsSwichState.searchSharesPerUserOrIp" switch-size="mini" ng-change="onStatsSwitchToggle('searchSharesPerUserOrIp')">
                    </span>

                Searches per username / IP
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.searchSharesPerUserOrIp">
                <table class="table">
                    <thead>
                    <tr>
                        <th>User or IP</th>
                        <th>Percentage</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in stats.searchSharesPerUserOrIp">
                        <td>{{ stat.userOrIp }}</td>
                        <td>{{ stat.percentage | number : 1}}</td>
                        <td>{{ stat.count }}</td>
                    </tr>
                    </tbody>
                </table>

                <chart class="searchSharesPerUserOrIpChart">
                    <nvd3 options="searchSharesPerUserOrIpChart.options" data="searchSharesPerUserOrIpChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>

        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                    <input bs-switch type="checkbox" ng-model="foo.statsSwichState.downloadSharesPerUserOrIp" switch-size="mini" ng-change="onStatsSwitchToggle('downloadSharesPerUserOrIp')">
                </span>
                Downloads per username / IP
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.downloadSharesPerUserOrIp">
                <table class="table">
                    <thead>
                    <tr>
                        <th>User or IP</th>
                        <th>Percentage</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in downloadSharesPerUserOrIp">
                        <td>{{ stat.userOrIp }}</td>
                        <td>{{ stat.percentage | number : 1}}</td>
                        <td>{{ stat.count}}</td>
                    </tr>
                    </tbody>
                </table>

                <chart class="downloadSharesPerUserOrIpChart">
                    <nvd3 options="downloadSharesPerUserOrIpChart.options" data="downloadSharesPerUserOrIpChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                    <input bs-switch type="checkbox" ng-model="foo.statsSwichState.userAgentShares" switch-size="mini" ng-change="onStatsSwitchToggle('userAgentShares')">
                </span>
                API Searches per user agent <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                                  uib-tooltip="Some tools don't use specific user agents. They will most likely show up as 'Mozilla' or as 'Other'"></span>
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.userAgentShares">
                <table class="table">
                    <thead>
                    <tr>
                        <th>User agent</th>
                        <th>Percentage</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in stats.userAgentShares">
                        <td>{{ stat.userAgent }}</td>
                        <td>{{ stat.percentage | number : 1}}</td>
                        <td>{{ stat.count }}</td>
                    </tr>
                    </tbody>
                </table>

                <chart class="userAgentSharesChart">
                    <nvd3 options="userAgentSharesChart.options" data="userAgentSharesChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>


    </div>


    <div class="row">
        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                    <input bs-switch type="checkbox" ng-model="foo.statsSwichState.searchesPerDayOfWeek" switch-size="mini" ng-change="onStatsSwitchToggle('searchesPerDayOfWeek')">
                </span>
                Searches per day of week
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.searchesPerDayOfWeek">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Day of the week</th>
                        <th>Searches</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in stats.searchesPerDayOfWeek">
                        <td>{{ stat.day }}</td>
                        <td>{{ stat.count }}</td>
                    </tr>
                    </tbody>
                </table>

                <chart class="weeklyChart">
                    <nvd3 options="searchesPerDayOfWeekChart.options" data="searchesPerDayOfWeekChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>


        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                    <input bs-switch type="checkbox" ng-model="foo.statsSwichState.searchesPerHourOfDay" switch-size="mini" ng-change="onStatsSwitchToggle('searchesPerHourOfDay')">
                </span>
                Searches per hour of day
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.searchesPerHourOfDay">
                <table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Hour of the day</th>
                            <th>Searches</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stat in stats.searchesPerHourOfDay">
                            <td>{{ stat.hour }}</td>
                            <td>{{ stat.count }}</td>
                        </tr>
                        </tbody>
                    </table>
                </table>

                <chart class="dailyChart">
                    <nvd3 options="searchesPerHourOfDayChart.options" data="searchesPerHourOfDayChart.data"></nvd3>
                </chart>
            </tab-or-chart>

        </div>
    </div>


    <div class="row">
        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                    <input bs-switch type="checkbox" ng-model="foo.statsSwichState.downloadsPerDayOfWeek" switch-size="mini" ng-change="onStatsSwitchToggle('downloadsPerDayOfWeek')">
                </span>
                NZB downloads per day of week
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.downloadsPerDayOfWeek">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Day of the week</th>
                        <th>Downloads</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in stats.downloadsPerDayOfWeek">
                        <td>{{ stat.day }}</td>
                        <td>{{ stat.count }}</td>
                    </tr>
                    </tbody>
                </table>

                <chart class="weeklyChart">
                    <nvd3 options="downloadsPerDayOfWeekChart.options" data="downloadsPerDayOfWeekChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>


        <div class="col-md-10 stat-box">
            <div class="caption">
                <span uib-tooltip="Hiding a stat will disable its calculation and may improve overall loading time" tooltip-placement="auto top">
                    <input bs-switch type="checkbox" ng-model="foo.statsSwichState.downloadsPerHourOfDay" switch-size="mini" ng-change="onStatsSwitchToggle('downloadsPerHourOfDay')">
                </span>
                NZB downloads per hour of day
            </div>
            <tab-or-chart display="chart" ng-show="foo.statsSwichState.downloadsPerHourOfDay">
                <table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Hour of the day</th>
                            <th>Downloads</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stat in stats.downloadsPerHourOfDay">
                            <td>{{ stat.hour }}</td>
                            <td>{{ stat.count }}</td>
                        </tr>
                        </tbody>
                    </table>
                </table>

                <chart class="dailyChart">
                    <nvd3 options="downloadsPerHourOfDayChart.options" data="downloadsPerHourOfDayChart.data"></nvd3>
                </chart>
            </tab-or-chart>
        </div>
    </div>


</div>