<!--Fork of https://github.com/dotansimha/angularjs-dropdown-multiselect to make it compatible with formly-->

<div class="multiselect-parent btn-group dropdown-multiselect dropdown ng-class:settings.classes"
     ng-class="{open: open}">
    <div ng-transclude=toggleDropdown ng-click=toggleDropdown()>
        <button ng-disabled=disabled type=button class="btn btn-default dropdown-toggle">{{buttonText}}&nbsp;<span
                class=caret style="position: absolute; left: 90%; top: 45%;"></span></button>
    </div>
    <ul class="dropdown-menu dropdown-menu-form" ng-if=open
        ng-style="{display: open ? 'block' : 'none', height : 'auto', overflow: 'auto' }">
        <li ng-repeat="action in actions">
            <a role=menuitem class=option tabindex=-1 ng-click="executeAction(action)" style="cursor: pointer;">
                <span ng-if="action.iconClass" class="{{action.iconClass}}" style="margin-right: 6px;"></span>
                {{action.label}}
            </a>
        </li>
        <li ng-if="settings.showSelectAll">
            <a data-ng-click=selectAll() tabindex=-1 id=selectAll style="cursor: pointer;">
                <span class="glyphicon glyphicon-ok" style="margin-right: 6px;"></span>
                Select all
            </a>
        </li>
        <li ng-if="settings.showDeselectAll">
            <a data-ng-click=deselectAll(); tabindex=-1 id=deselectAll style="cursor: pointer;">
                <span class="glyphicon glyphicon-remove" style="margin-right: 6px;"></span>
                Deselect all
            </a>
        </li>
        
        <li class=divider ng-if="actions.length || settings.showSelectAll || settings.showDeselectAll"></li>
        <li ng-repeat-start="group in groupedOptions track by $index" ng-if="0"></li>
        <li class="dropdown-header" ng-if="group.name">{{group.name}}</li>
        <li ng-class="{'active': isChecked(option) && settings.styleActive}" role=presentation
            ng-repeat="option in group.options track by option.id">
            <a role=menuitem class=option tabindex=-1 ng-click="toggleItem(option)" style="cursor: pointer;">
                <span class="glyphicon glyphicon-ok"
                      ng-style="{visibility: selectedModel.indexOf(option.id) > -1 ? 'visible' : 'hidden', 'margin-right': '6px'}"></span>
                {{option.label}}
            </a>
        </li>
        <li class="divider" ng-if="group.name && !$last"></li>
        <li ng-repeat-end ng-if="0"></li>
    </ul>
</div>
