<!--Fork of https://github.com/dotansimha/angularjs-dropdown-multiselect to make it compatible with formly-->

<div class="multiselect-parent btn-group dropdown-multiselect dropdown ng-class:settings.classes" ng-class="{open: open}" >
    <div ng-transclude=toggleDropdown ng-click=toggleDropdown()>
        <button ng-disabled=disabled type=button class="btn btn-default dropdown-toggle">{{buttonText}}&nbsp;<span class=caret></span></button>
    </div>
    <ul class="dropdown-menu dropdown-menu-form" ng-if=open ng-style="{display: open ? 'block' : 'none', height : 'auto', overflow: 'auto' }">
        <li>
            <a ng-keydown=keyDownLink($event) data-ng-click=selectAll() tabindex=-1 id=selectAll>
                <span class="glyphicon glyphicon-ok"></span>
                Select all
            </a>
        </li>
        <li>
            <a ng-keydown=keyDownLink($event) data-ng-click=deselectAll(); tabindex=-1 id=deselectAll>
                <span class="glyphicon glyphicon-remove"></span>
                Deselect all
            </a>
        </li>

        <li class=divider></li>
        <li ng-class="{'active': isChecked(option) && settings.styleActive}" role=presentation
            ng-repeat="option in options">
            <a role=menuitem class=option tabindex=-1 ng-click="toggleItem(option)">
                <span data-ng-class="{'glyphicon glyphicon-ok': selectedModel.indexOf(option.id) > -1}"></span>
                {{option.label}}
            </a>
        </li>
    </ul>
</div>