<div class="row d-sm-flex justify-content-center">
  <div class="col-xs-20 col-md-12">
        <div class="panel panel-default " ng-repeat="entry in news">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{entry.version}}
                    <span style="font-size: smaller">
                        <span ng-if="entry.forCurrentVersion">(This version)</span>
                        <span ng-if="entry.forNewerVersion">(Newer version)</span>
                    </span>
                </h3>
            </div>
            <div class="panel-body" ng-bind-html="entry.news">
            </div>
        </div>

        <div class="text-center">
            <h3 ng-if="news.length == 0">No news yet ;-)</h3>
        </div>
    </div>
</div>
