<div cg-busy="{promise:loadingPromise,message:'Loading versions and changelog'}">
  
  Current version: {{ currentVersion }}
  <br>
  Latest version: {{ latestVersion }} <span ng-if="latestVersionIsBeta">Beta</span>
  <span ng-if="betaUpdateAvailable">
        <br>
        Latest beta version: {{ betaVersion }}
      </span>
  <br>
  <div ng-if="runInDocker" class="alert alert-warning" role="alert"
       style="margin-bottom: 0; padding-top: 0; margin-top: 5px">
    <br>
    You seem to be running Hydra inside docker. It's recommended to update the container instead of using Hydra's
    update mechanism.
  </div>
  <div ng-if="updateAvailable">
    <br>
    A new release ({{ latestVersion }} <span ng-if="latestVersionIsBeta">Beta</span>) is available.
    <br>
    <button class="btn btn-info" type="button" ng-click="showChangelog(latestVersion)">See what's new</button>
    <button class="btn btn-success" type="button" ng-click="update(latestVersion)">Install update</button>
  </div>
  <div ng-if="betaUpdateAvailable">
    <br>
    A new beta release ({{ betaVersion }}) is available.
    <br>
    <button class="btn btn-info" type="button" ng-click="showChangelog(betaVersion)">See what's new</button>
    <button class="btn btn-warning" type="button" ng-click="update(betaVersion)">Install beta update</button>
  </div>
  <br>
  <span ng-if="!updateAvailable && !latestVersionIgnored && !betaUpdateAvailable">You're up to date!</span>
  <span ng-if="latestVersionIgnored">The latest version was ignored by you.</span>
  <button ng-if="!updateAvailable && !betaUpdateAvailable" class="btn btn-warning" type="button" ng-click="forceUpdate()">Force update
  </button>
  
  <div class="row">
    <div class="col-md-4"></div>
    <div ng-if="wrapperOutdated" class="col-md-12 alert alert-warning" role="alert" style="margin-top: 20px">
      The NZBHydra wrappers (i.e. the executables or python scripts you use to run NZBHydra) seem to be outdated.Please update them.<br><br>
      Shut down NZBHydra, <a href="https://github.com/theotherp/nzbhydra2/releases/latest">download the latest version</a> and extract all the relevant wrapper files into your main NZBHydra folder.<br>
      For Windows these files are:
      <ul>
        <li>NZBHydra2.exe</li>
        <li>NZBHydra2 Console.exe</li>
      </ul>
      For linux or macOS these files are:
      <ul>
        <li>nzbhydra2 (you may need to chmod +x it)</li>
        <li>nzbhydra2wrapper.py</li>
        <li>nzbhydra2wrapperPy3.py</li>
      </ul>
      Make sure to overwrite all of these files that already exist - you don't need to update any files that aren't already present.
      <br><br>
      Afterwards start NZBHydra again.
    </div>
  </div>
  
  <ng-include src="'static/html/directives/version-history.html'"></ng-include>
</div>
