<div class="modal-header">
    <h3 class="modal-title">Checking caps... Please wait</h3>
</div>
<div class="modal-body" style="text-align: left;">
    <img src="static/img/spinner.gif" ng-if="!messages"/>

    <div ng-if="messages" style="text-align: left">

        <ul style="padding-left: 0">
            <li ng-repeat="message in messages" style="list-style-type: none">
                {{message}}
            </li>

        </ul>
        <img src="static/img/spinner.gif"/>

    </div>

</div>
<div class="modal-footer">
    <span style="float: left; margin-top: 5px">
        This window will close automatically when the caps check is finished
    </span>
</div>
