<div class="block-ui-overlay"></div>
<div class="block-ui-message-container" aria-live="assertive" aria-atomic="true">
    <div class="block-ui-message">
        <br>
        <div ng-class="$_blockUiMessageClass">
            <span ng-if="!state.message.message">{{ state.message }}</span>
        </div>
        <span ng-if="state.message.message">
            {{state.message.message}}
            <br>
            <span>
                Messages:
                <div ng-if="state.message.messages">
                    <ul>
                        <li ng-repeat="message in state.message.messages">
                            {{message}}
                        </li>
                    </ul>
                </div>
            </span>
        </span>
    </div>

</div>