<div class="form-group row">
    <div class="col-md-6" style="text-align: right">
        <label class="control-label">{{ title }}</label>
    </div>
    <div class="col-md-8">
        <input ng-if="type=='checkbox'" ng-model="cfg" type="checkbox" bs-switch/>
        <input ng-if="type=='text'" ng-model="cfg" type="text" class="form-control"/>

        <ui-select ng-if="type=='select'" ng-model="cfg" theme="bootstrap" search-enabled="false">
            <ui-select-match class="ui-select-match">
                <span ng-bind="cfg.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in options" class="ui-select-choices">
                <span ng-bind="item.name"></span>
            </ui-select-choices>
        </ui-select>
        {{ cfg }}
        {{ cfg.name }}
        <!--<input type="{{ type }}" ng-model="cfg" ng-class="{'form-control' : type != 'checkbox'}"/>-->
        <span class="help-block" ng-if="help">{{ help }}</span>
    </div>

</div>