

<div class="input-group">
  <input type="text" class="form-control" style="background-color: {{convertColorToCss()}}" ng-change="convertColorFromInput()" ng-model="color"/>
  <span class="input-group-btn input-group-btn2" style="border-left: 0">
   <button colorpicker="rgb" ng-model="model[options.key]" class="btn btn-default" type="button">
     <i class="fa fa-eyedropper" aria-hidden="true"></i>
    </button>
  </span>
  <span class="input-group-btn input-group-btn2" style="border-left-width: 1px; border-radius: 0">
   <button ng-click="clear()" class="btn btn-default" type="button">
     <i class="fa fa-remove" aria-hidden="true"></i>
    </button>
  </span>

</div>