

<div class="row">
  
  <div class="btn-group"
       style="margin-bottom: 30px; margin-left: auto; margin-right: auto; float:none !important;">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-plus" style="margin-right: 10px"></span>Add new downloader
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="preset in presets">
        <a ng-click="addEntry(model, preset)">{{ preset.name }}</a>
      </li>
    </ul>
  </div>
</div>


<div ng-repeat="entry in model | orderBy: ['name'] track by entry.name">
  <div class="row">
    <div style="margin-left: auto; margin-right: auto; float:none !important;">
      <div style="margin-bottom: 30px;">
        <form class="form-inline">
          <button ng-click="showBox(entry, model)" class="btn btn-secondary indexer-button indexer-input btn-default"
                  style="margin-right: 10px;">{{ entry.name }}
          </button>
          <input bs-switch type="checkbox" ng-model="entry.enabled"/>
        </form>
      </div>
    </div>
  </div>
</div>