

<span class="config-box">
    <div class="modal-header">
        <h3 class="modal-title">External Tool Configuration</h3>
    </div>
    <div class="modal-body">
        <formly-form fields="fields"
                     model="model"
                     form="form"
                     options="options"
        >
        </formly-form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" ng-click="deleteEntry()" ng-if="!isInitial">Delete</button>
        <button class="btn btn-warning" ng-click="reset()">Reset</button>
        <button class="btn btn-info" ng-click="testConnection()" ng-if="model.host && model.apiKey">Test connection</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success has-spinner" ng-class="{'active': spinnerActive}" ng-click="obSubmit()">
            <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
            OK
        </button>
    </div>
</span>