

<span class="config-box">
    <div class="modal-header">
        <h3 class="modal-title">Add indexer</h3>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Usenet</h3>
          </div>
          <div class="panel-body">
            
            <div class="btn-group"
                 style="margin-left: auto; margin-right: auto; float:none !important;">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose from presets
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu scrollable-menu">
                <li ng-repeat="preset in newznabPresets">
                  <a ng-click="select(preset)">{{ preset.name }}</a>
                </li>
                <li><a href="#">---</a></li>
                <li>
                  <a ng-click="readProwlarrConfig()">Read from Prowlarr (all)</a>
                </li>
              </ul>
            </div>
            <button class="btn btn-info" ng-click="select()">
              Add custom newznab indexer
            </button>
          </div>
        </div>
      
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Torrents</h3>
          </div>
          <div class="panel-body">
            <div class="btn-group"
                 style="margin-left: auto; margin-right: auto; float:none !important;">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose from presets
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu scrollable-menu">
                <li ng-repeat="preset in torznabPresets">
                  <a ng-click="select(preset)">{{ preset.name }}</a>
                </li>
                <li><a href="#">---</a></li>
                <li>
                  <a ng-click="readJackettConfig()">Read from jackett config</a>
                </li>
                <li>
                  <a ng-click="readProwlarrConfig()">Read from Prowlarr (all)</a>
                </li>
              </ul>
            </div>
            <button class="btn btn-info" ng-click="select(emptyTorznabPreset)">
              Add custom torznab indexer
            </button>
          </div>
        </div>
      
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Special</h3>
                </div>
                <div class="panel-body">
                  <div class="btn-group" style="margin-left: auto; margin-right: auto; float:none !important;">
                    <span ng-repeat="preset in specialPresets">
                    <button type="button" class="btn btn-info" ng-click="select(preset)">
                      {{ preset.name }}
                    </button>
                    </span>
                  </div>
                </div>
              </div>
    </div>
</span>