

<div class="row">
  
  <div class="btn-group"
       style="margin-bottom: 30px; margin-left: auto; margin-right: auto; float:none !important;">
    <button class="btn btn-info" ng-click="recheck('INCOMPLETE')">Recheck caps for incomplete indexers
    </button>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a ng-click="recheck('ALL')">Recheck caps for all indexers</a>
      </li>
    </ul>
  </div>
</div>