---
version: "2.1"
services:
    sonarr:
        image: lscr.io/linuxserver/sonarr:latest
        container_name: sonarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Europe/London
        volumes:
            - ./data:/config
        ports:
            - 8989:8989
        restart: unless-stopped
