<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--<title ng-bind="'NZB Hydra' + ((' - ' + title) || '')">NZB Hydra</title>-->
    <title ng-bind="'NZB Hydra' + ((' - ' + title) || '')">NZB Hydra</title>
    <base th:href="${session.baseUrl}"/>


    <meta name="robots" content="noindex"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="static/css/alllibs.css" rel="stylesheet"/>
    <!--<link href="css/{{ theme }}" rel="stylesheet">-->
    <link href="static/css/grey.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"/>
    <meta charset="utf-8"/>

</head>
<body style="text-align: center">

<!--
    <div style="margin: auto; max-width: 1400px;">
        <div id="banner"></div>
        <div class="container-fluid" block-ui="main" ui-view="container">
            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
            </form>
        </div>
    </div>
-->
<div class="row">
    <div class="center-form panel">
        <div class="panel-body">
            <h2 class="text-center">Log in</h2>
            <form th:action="@{/login}" method="post">
                <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="text" name="username" placeholder="Username"/>
                    <span class="ion-at form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="password" name="password" placeholder="Password"/>
                    <span class="ion-key form-control-feedback"></span>
                </div>
                <button type="submit" class="btn btn-lg  btn-block btn-success">Log in</button>
                You will be forwarded to the search area.
            </form>

        </div>
    </div>
</div>


</body>


</html>

