<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>NZBHydra 2</title>
    <base th:href="${session.baseUrl}"/>
    <meta name="robots" content="noindex"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="static/css/alllibs.css" rel="stylesheet"/>
    <link th:href="${session.cssUrl}" href="static/css/grey.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"/>
    <meta charset="utf-8"/>
</head>
<body style="text-align: center">
<div class="row">
    <div class="col-md-6"></div>
    <div class="center-form panel col-md-8">
        <div class="panel-body">
            <h2 class="text-center">Log in</h2>
            <form th:action="@{/login}" method="post">
                <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="text" name="username" placeholder="Username"/>
                    <span class="ion-at form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="password" name="password" placeholder="Password"/>
                    <span class="ion-key form-control-feedback"></span>
                </div>
                <button type="submit" class="btn btn-lg  btn-block btn-success">Log in</button>
                You will be forwarded to the search area.
            </form>
        </div>
    </div>
</div>
</body>
</html>

