[Unit]
Description=NZBHydra2 Daemon
Documentation=https://github.com/theotherp/nzbhydra2
After=network.target

[Service]
User=ubuntu
Group=vboxsf
Type=simple
# Set to the folder where you extracted the ZIP
WorkingDirectory=/home/nzbhydra/nzbhydra2


# NZBHydra stores its data in a "data" subfolder of its installation path
# To change that set the --datafolder parameter:
# --datafolder /path-to/datafolder
ExecStart=/home/nzbhydra/nzbhydra2/nzbhydra2 --nobrowser

Restart=always

[Install]
WantedBy=multi-user.target