<tr ng-init="duplicateGroup=titles[0]" class="search-results-row" ng-class="{'odd': rowIndex % 2 == 0, 'even' : rowIndex % 2 == 1}"
    style="margin:0; border-width: 0; padding: 0">
    <td style="margin:0; border-width: 0; padding: 0" colspan="7">
        <duplicate-group duplicates="duplicateGroup" row-index="rowIndex" internal-row-index="0" is-first-row="true" display-title-toggle="titles.length > 1" selected="selected" do-show-duplicates="doShowDuplicates">
        </duplicate-group>
    </td>

</tr>

<tr ng-if="titleGroupExpanded" ng-repeat="duplicateGroup in titlesToShow() track by duplicateGroup[0].searchResultId" class="search-results-row"
    ng-class="{'odd': rowIndex % 2 == 0, 'even' : rowIndex % 2 == 1}">
    <td style="margin:0; border-width: 0; padding: 0" colspan="7">
        <duplicate-group duplicates="duplicateGroup" row-index="rowIndex" internal-row-index="{{ ::$index+1}}" selected="selected" do-show-duplicates="doShowDuplicates">

        </duplicate-group>
    </td>
</tr>
