linux-amd64-release/include/executables/nzbhydra2 filter=lfs diff=lfs
linux-arm64-release/include/executables/nzbhydra2 filter=lfs diff=lfs
windows-release/include/NZBHydra2.exe filter=lfs diff=lfs
windows-release/include/NZBHydra2[[:space:]]Console.exe filter=lfs
