<span>
    <span class="input-group" style="margin-left: 5px; margin-right: 5px;">
        <span class="input-group-addon" style="width: 60px">Min</span>
        <input type="text" class="form-control" ng-model="filterValue.min" ng-keypress="onKeypress($event)" style="min-width: 70px"/>
        <span class="input-group-addon" ng-if="addon">{{::addon}}</span>
    </span>

    <span class="input-group" style="margin-left: 5px; margin-right: 5px;">
        <span class="input-group-addon" style="width: 60px">Max</span>
        <input type="text" class="form-control" ng-model="filterValue.max" ng-keypress="onKeypress($event)" style="min-width: 70px"/>
        <span class="input-group-addon" ng-if="addon">{{::addon}}</span>
    </span>
    <button type="button" class="btn btn-primary" ng-click="apply()" style="margin-left: 5px; margin-bottom: 5px">
        Apply
    </button>
</span>