<div class="form-group column-filter-boolean" style="padding-left: 5px">
    <div class="radio">
        <label>
            <input type="radio" name="chickenEgg" value="{{ options[0].value }}" ng-model="selected.value" ng-change="apply()">
            {{ options[0].label }}
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="chickenEgg" value="{{ options[1].value }}" ng-model="selected.value" ng-change="apply()">
            {{ options[1].label }}
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="chickenEgg" value="{{ options[2].value }}" ng-model="selected.value" ng-change="apply()">
            {{ options[2].label }}
        </label>
    </div>
</div>