<div class="row">
  <form class="col-sm-20" name="form" name="ctrl.myform" novalidate>
    <ul class="nav nav-tabs config-tabs" role="tablist" style="text-align: left">
      <li ng-repeat="tab in allTabs" ng-class="{'active': $index == activeTab}">
        <a href="" ng-click="goToConfigState($index)">{{ tab.name }}</a>
      </li>
      <li style="float: right">

        <!--        We need to make this switch ourselves becase bs-switch will always make the model dirty-->
        <div class="bootstrap-switch-off bootstrap-switch bootstrap-switch-advanced-toggle-wrapper bootstrap-switch-animate {{showAdvanced ? 'bootstrap-switch-on' : 'bootstrap-switch-off'}}"
             style="width: 200px;" ng-click="toggleShowAdvanced()">
          <div class="bootstrap-switch-container" style="width: 352px; margin-left: {{showAdvanced ? '0' : '-154'}}px;">
            <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 154px; opacity: 1">Advanced shown</span>
            <span class="bootstrap-switch-label" style="width: 48px;">&nbsp;</span>
            <span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 154px;">Advanced hidden</span>
            <input type="checkbox" ng-model="showAdvanced" class="ng-untouched ng-valid ng-not-empty ng-dirty" aria-invalid="false"></div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn config-button btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  uib-tooltip="Allows you to automatically configure NZBHydra2 as an indexer in an external tool."
                  tooltip-placement="top"
                  tooltip-trigger="mouseenter"
          >Configure NZBHydra in...
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a ng-click="configureIn('Lidarr')">Lidarr</a>
              <a ng-click="configureIn('Sonarr')">Sonarr</a>
              <a ng-click="configureIn('Radarr')">Radarr</a>
              <a ng-click="configureIn('Readarr')">Readarr</a>
            </li>
          </ul>
        </div>

        <button ng-click="apiHelp()" class="btn config-button config-api-button btn-default">API?</button>
        <button ng-click="submit()" class="btn config-button" ng-class="{'btn-info': isSavingNeeded(), 'pulse2': isSavingNeeded(), 'btn-success': !isSavingNeeded()}">
          Save
        </button>
      </li>
    </ul>

    <div class="tab-content config">
      <div ng-repeat="tab in allTabs">
        <div class="config-tab-content">
          <formly-form model="tab.model" fields="tab.fields" ng-if="$index == activeTab"
                        options="tab.options">
          </formly-form>
        </div>
      </div>
    </div>
  </form>
</div>


<script type="text/ng-template" id="ui-select-multiple.html">
  <ui-select multiple data-ng-model="model[options.key]" data-required="{{ to.required }}"
             data-disabled="{{ to.disabled }}" theme="bootstrap">
    <ui-select-match class="ui-select-match" placeholder="{{ to.getPlaceholder(model[options.key]) }}">
      {{$item[to.labelProp]}}
    </ui-select-match>
    <ui-select-choices class="ui-select-choices" data-repeat="{{ to.ngOptions }}">
      <div ng-bind-html="option[to.labelProp] | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</script>

<script type="text/ng-template" id="button-test-connection.html">
  <span style="text-align: left;"><button class="btn btn-default" id="button-test-connection-{{ uniqueId }}"
                                          type="button" ng-click="testConnection()"><span
    class="glyphicon glyphicon-refresh"></span></button> <span
    id="message-test-connection-{{ uniqueId }}"></span></span>
</script>


<script type="text/ng-template" id="button-check-caps.html">
  <span style="text-align: left; float: left"><button class="btn btn-default" id="button-check-caps-{{ uniqueId }}"
                                                      type="button" ng-click="checkCaps()"><span
    class="glyphicon glyphicon-refresh"></span></button> <span
    id="message-check-caps-{{ uniqueId }}"></span></span>
</script>


<script type="text/ng-template" id="newznab-preset.html">
  <ui-select ng-model="selectedpreset" theme="bootstrap" on-select="selectPreset($item, $model)"
             search-enabled="false">
    <ui-select-match class="ui-select-match" allow-clear="true">{{ display }}</ui-select-match>
    <ui-select-choices class="ui-select-choices" repeat="preset in presets">
      <div ng-bind-html="preset.name"></div>
    </ui-select-choices>
  </ui-select>
</script>

<script type="text/ng-template" id="repeatSection.html">
  <!--loop through each element in model array-->
  <div class="{{ hideRepeat }} repeatWrapperClass" ng-show="model.showAdvanced || !to.advanced">
    <legend style="overflow: hidden">
   <span class="config-fieldset-legend">{{to.headline}}
       <span class="glyphicon glyphicon-question-sign" ng-if="::options.templateOptions.tooltip"
             uib-popover-html="options.templateOptions.tooltip"
             popover-trigger="'outsideClick'"
             style="font-size: 15px; cursor: pointer"></span>
</span>
    </legend>

    <div class="repeatsection modal-content" ng-repeat="element in model[options.key]"
         ng-init="fields = copyFields(to.fields)">
      <fieldset>
        <legend>
          <span class="config-fieldset-legend">
            {{ element.name ? element.name : (element.username ? element.username : to.altLegendText)}}
          </span>
        </legend>
        <formly-form fields="fields"
                     model="element"
                     form="form">
        </formly-form>
        <div style="margin-bottom:20px;">
          <button type="button" class="btn btn-danger remove-button" ng-click="remove($index)">
            Remove {{ element.name }}
          </button>
        </div>

      </fieldset>
    </div>
    <hr class="repeat-hr">
    <p class="addNewButton">
      <button type="button" class="btn btn-primary add-button" ng-click="addNew()">{{ to.btnText }}</button>
    </p>
  </div>
</script>

<script type="text/ng-template" id="setting-wrapper.html">
  <div class="setting-wrapper" ng-show="model.showAdvanced || !to.advanced">
  <div class="form-group form-horizontal" ng-class="{'row': !options.templateOptions.noRow}">
    <!--Test-->
    <div class="col-xs-8 col-sm-4 text-right config-label pe-xs-0">
      <label class="control-label align-middle justify-content-flex-end pt-0">
        {{ to.label }} {{ to.required ? "*" : ""}}
      </label>
    </div>
    <div class="col-xs-9 col-sm-6 config-content">
      <!--Before transclude-->
      <formly-transclude></formly-transclude>
      <!--After transclude-->
      <div class="my-messages" ng-messages="fc.$error" ng-if="options.formControl.$touched || form.$submitted"
           ng-messages-multiple>
        <div class="some-message has-error control-label" ng-message="{{::name}}"
             ng-repeat="(name, message) in ::options.validation.messages">
          {{ message(fc.$viewValue, fc.$modelValue, this)}}
        </div>
      </div>
      <div class="my-messages">
        <div class="some-message has-error control-label"
             ng-repeat="message in ::options.validation.customMessages">
          {{ message}}
        </div>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1">
      <div class="config-tooltip">
        <div class="d-flex justify-content-center" ng-if="::to.tooltip" uib-popover-html="to.tooltip" popover-trigger="'outsideClick'" popover-placement="auto top">
            <span class="glyphicon glyphicon-question-sign align-middle" style="cursor: pointer"></span>
        </div>
      </div>
    </div>
    <div class="col-xs-20 col-sm-9 config-help mt-xs-2">
      <div class="help-block mx-xs-4">
        <div class="align-middle">
          <span ng-bind-html="to.help | derefererExtracting | unsafe" >
              Help
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
</script>

<script type="text/ng-template" id="fieldset-wrapper.html">
  <fieldset ng-show="model.showAdvanced || !to.advanced">
    <legend class="text-left">
      <div class="col-sm-4"></div>
      <div class="col-sm-16">
        <div class="config-fieldset-legend py-3">{{options.templateOptions.label}}
          <span class="glyphicon glyphicon-question-sign" ng-if="::options.templateOptions.tooltip"
              uib-popover-html="options.templateOptions.tooltip"
              tooltip-placement="auto top"
              popover-trigger="'outsideClick'"
              style="font-size: 15px; cursor: pointer"></span>
        </div>
      </div>
    </legend>
    <formly-transclude></formly-transclude>
  </fieldset>
</script>

<script type="text/ng-template" id="notificationRepeatSection.html">
  <!--loop through each element in model array-->
  <div class="{{ hideRepeat }} repeatWrapperClass">
    <legend><div class="config-fieldset-legend py-3">{{to.headline}}</div></legend>
    <div class="repeatsection modal-content" ng-repeat="element in model[options.key]"
         ng-init="fields = copyFields(to.fields)">
      <fieldset>
        <legend>
          <span class="config-fieldset-legend">
            {{ element.eventTypeReadable}}
          </span>
        </legend>
        <formly-form fields="fields"
                     model="element"
                     form="form">
        </formly-form>
        <div style="margin-bottom:20px;">
          <button type="button" class="btn btn-danger remove-button" ng-click="remove($index)">
            Remove {{ element.name }}
          </button>
        </div>

      </fieldset>
    </div>
    <hr>

    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Add new notification <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="event in eventTypes"><a ng-click="addNew(event.key)">{{::event.label}}</a></li>
      </ul>
    </div>
  </div>
</script>

<script type="text/ng-template" id="button-test-notification.html">
  <span style="text-align: left; float: left">
    <button class="btn btn-default" type="button" ng-click="testNotification()" uib-tooltip="Send a test notification. You need to save the config first." tooltip-placement="top" tooltip-trigger="mouseenter">
      <span class="glyphicon glyphicon-eye-open"></span>
    </button>
  </span>
</script>
