<table class="table indexer-statuses-table">
    <caption>Indexer statuses sorted by state, then name. Go to to the config to reenable any disabled indexers
    </caption>
    <thead>
    <tr>
        <th class="col-md-2">Indexer</th>
        <th class="col-md-3">State</th>
        <th class="col-md-2">Disabled until</th>
        <th class="col-md-13">Reason</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="indexerStatus in statuses">
        <td>{{ indexerStatus.indexer }}</td>
        <td>
            <span class="label"
                  ng-class="getLabelClass(indexerStatus.state)"> {{ formatState(indexerStatus.state) }}</span>
        </td>
        <td>
            <span ng-if="indexerStatus.state === 'DISABLED_SYSTEM_TEMPORARY'">{{ indexerStatus.disabledUntil | reformatDate}}</span>
        </td>
        <td class="indexer-status-reason">{{ indexerStatus.lastError }}</td>
    </tr>
    </tbody>
</table>