<div class="table-responsive">
<table class="table indexer-statuses-table">
  <caption>Indexer statuses sorted by state, then name. Go to to the config to reenable any disabled indexers
  </caption>
  <thead>
  <tr>
    <th class="col-md-2" style="width:10%">Indexer</th>
    <th class="col-md-1" style="width:3%">State</th>
    <th class="col-md-2" style="width:10%">Disabled at</th>
    <th class="col-md-2" style="width:10%">Disabled until</th>
    <th class="col-md-7" style="width:35%">Last error <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                                            uib-tooltip="Only shown when the indexer is currently disabled."></span></th>
    <th class="col-md-2" style="width:6%">API hits <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                                         uib-tooltip="Shows the number of API hits either since the last limit reset time or for the last 24 hours, and the limit if configured."></span></th>
    <th class="col-md-2" style="width:8%">Downloads <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                                          uib-tooltip="Shows the number of downloads either since the last limit reset time or for the last 24 hours, and the limit if configured."></span></th>
    <th class="col-md-2" style="width:10%">Next hit allowed <span class="glyphicon glyphicon-question-sign" tooltip-placement="auto top"
                                                                  uib-tooltip="Either the next time the API limit is reset (if a certain hour of day is configured) or when the next hit will be allowed by the rolling limit window."></span>
    </th>
    <th class="col-md-2" style="width:8%">VIP expiry</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="indexerStatus in statuses">
    <td>{{ indexerStatus.indexer }}</td>
    <td>
            <span class="label" ng-class="getLabelClass(indexerStatus.state)">
            <i ng-if="indexerStatus.state === 'ENABLED'" class="fa fa-check" uib-tooltip="Enabled" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
            <i ng-if="indexerStatus.state === 'DISABLED_SYSTEM'" class="fa fa-times" uib-tooltip="Disabled by system" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
            <i ng-if="indexerStatus.state === 'DISABLED_SYSTEM_TEMPORARY'" class="fa fa-times" uib-tooltip="Temporarily disabled by system" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
            <i ng-if="indexerStatus.state === 'DISABLED_USER'" class="fa fa-times" uib-tooltip="Disabled by user" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
            </span>
    </td>
    <td>
      <span>{{ indexerStatus.disabledAt | reformatDate}}</span>
    </td>
    <td>
      <span ng-if="indexerStatus.state === 'DISABLED_SYSTEM_TEMPORARY'">{{ indexerStatus.disabledUntil | reformatDate}}</span>
    </td>
    <td class="indexer-status-reason">{{ indexerStatus.lastError }}</td>
    <td>{{::indexerStatus.apiHits}}<span ng-if="indexerStatus.apiHitLimit">/{{::indexerStatus.apiHitLimit}}</span></td>
    <td>{{::indexerStatus.downloadHits}}<span ng-if="indexerStatus.downloadHitLimit">/{{::indexerStatus.downloadHitLimit}}</span></td>
    <td>{{::indexerStatus.apiResetTime | formatTimestamp}}<span ng-if="indexerStatus.downloadResetTime">/{{::indexerStatus.downloadResetTime | formatTimestamp}}</span></td>
    <td>{{::indexerStatus.vipExpirationDate}} <span class="glyphicon glyphicon-exclamation-sign" tooltip-placement="auto top"
                                                    uib-tooltip="{{indexerStatus.expiryWarning}}" ng-if="indexerStatus.expiryWarning"></span></td>
  </tr>
  </tbody>
</table>
</div>
