<table class="table">
    <caption>Indexer statuses</caption>
    <thead>
    <tr>
        <th>Indexer</th>
        <th>Last failure</th>
        <th>Disabled until</th>
        <th>Reason</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="indexerStatus in statuses">
        <td class="col-md-2">{{ indexerStatus.indexer.name }}</td>
        <td class="col-md-3"><span ng-if="indexerStatus.lastFailure">{{ indexerStatus.lastFailure.epochSecond | reformatDate}}</span></td>
        <td class="col-md-4">
            <span ng-if="indexerStatus.disabledUntil">
                <a href="" ng-click="enable(indexerStatus.indexer.name)"
                   uib-tooltip="Click to enable the indexer again"
                   tooltip-placement="right"
                   tooltip-trigger="mouseenter">
                    <span ng-if="!isInPast(indexerStatus.disabledUntil.epochSecond)||indexerStatus.disabledPermanently" class="glyphicon glyphicon-ok">

                    </span>
                </a>
            </span>

            <span ng-if="indexerStatus.disabledUntil">{{ indexerStatus.disabledUntil.epochSecond | reformatDate}}</span>
            <span ng-if="indexerStatus.disabledPermanently">Permanently</span>

        </td>
        <td class="col-md-11">{{ indexerStatus.reason }}</td>
    </tr>
    </tbody>
</table>