<script type="text/ng-template" id="autocompleteTemplate.html">
  <a>
      <span ng-if="match.model.posterUrl">
    <img ng-src="{{ match.model.posterUrl }}" style="width: 50px"></span> {{ match.model.title
      }} <span ng-if="match.model.year">( {{ match.model.year }} )</span>
  </a>
</script>

<div ui-tour ui-tour-backdrop="true" ui-tour-backdrop-padding="5" ui-tour-append-to-body="true"
     ui-tour-on-end="onTourEnd()" ui-tour-on-ready="onTourReady()">
  
  <div ng-if="availableIndexers.length == 0 && !tourActive">
  <div class="row d-sm-flex justify-content-center">
    <div class="col-xs-20 col-sm-18 col-md-10 alert alert-info" role="alert">
      No indexers are configured or enabled. Please go to the <a ui-sref="root.config.indexers"
                                                                 style="text-decoration: underline">indexer
      configuration</a> and add or enable some.
    </div>
  </div>
</div>
  
  <div ng-show="availableIndexers.length > 0 || tourActive">
    <div class="row d-sm-flex justify-content-center">

        <div class="col-xs-20 col-sm-18 col-md-14">
          <div class="search-form-layout">
            <div class="row search-category-row">
              <div class="col-xs-20 col-sm-8 col-md-6">
                <div class="search-category-inline">
                  <span class="search-category-label">Category</span>
                  <div class="dropdown search-category-picker">
                    <button type="button" class="btn btn-default dropdown-toggle search-category-button btn-block"
                            data-toggle="dropdown" aria-expanded="false" id="searchCategoryDropdownButton"
                            ng-cloak>
                                    {{ category.name }} <span class="caret"></span>
                                </button>
                    <ul class="dropdown-menu search-category-menu" role="menu">
                                    <li ng-repeat="category in categories">
                                        <a href="" class="searchCategoryButton search-category-option"
                                           ng-click="toggleCategory(category)">{{ category.name }}</a>
                                    </li>
                                </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row search-main-row">
              <div class="col-xs-20">
                <div class="search-main-input-group">
                  <input id="searchfield" type="search" ngtype="search" ng-model="titleQuery"
                                   ng-enter="onTypeAheadEnter()" placeholder="{{searchBoxPlaceholder}}" typeahead-min-length="2"
                         typeahead-wait-ms="typeAheadWait" ng-keydown="onTypeAheadKeyDown($event)"
                         uib-typeahead="item as item.label for item in getAutocomplete($viewValue)"
                         typeahead-template-url="autocompleteTemplate.html"
                         ng-class="{'autocompleteLoading': (loadingItems && supportsAutocomplete())}"
                         typeahead-loading="loadingItems"
                         typeahead-on-select="selectAutocompleteItem($item)" class="form-control search-main-query-input"
                         focus-on="focus-query-box"
                         autofocus auto-focus
                         uib-tooltip="{{searchBoxTooltip}}"
                         tooltip-placement="top"
                         tooltip-trigger="mouseenter"
                         ng-on-drop="onDropOnQueryInput($event)">
                  <button class="clear-query-button"
                          ng-if="titleQuery"
                          ng-click="clearQuery()" id="clear-query-button">
                                <span class="glyphicon glyphicon-remove" style="font-size: xx-small;"></span>
                            </button>
                        </div>
                    </div>
                </div>
            
            <div class="row search-refinement-row" ng-if="supportsAutocomplete()">
              <div class="col-xs-20 col-sm-12 col-md-13" ng-class="{'search-refinement-placeholder': !selectedItem}">
                <input id="additional-query" type="search" class="form-control"
                       ng-model="query"
                       placeholder="Additional filter terms"
                       ng-disabled="!selectedItem"
                       ng-style="{visibility: selectedItem ? 'visible' : 'hidden'}"
                       ng-enter="initiateSearch()"
                       uib-tooltip="{{additionalQueryTooltip}}"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter">
              </div>
              <div class="col-xs-20 col-sm-8 col-md-7" ng-if="seriesSelected()">
                <div class="row search-series-row">
                  <div class="col-xs-10">
                    <div class="input-group search-series-group">
                      <span class="input-group-addon">S</span>
                      <input type="text" class="form-control season-input" name="season"
                             id="seriesSearchS" ng-model="season"
                             placeholder="Season"
                             ng-enter="initiateSearch()"
                             uib-tooltip="Enter a season to search for."
                             tooltip-placement="top"
                             tooltip-trigger="mouseenter">
                    </div>
                  </div>
                  <div class="col-xs-10">
                    <div class="input-group search-series-group">
                      <span class="input-group-addon">E</span>
                      <input type="text" class="form-control episode-input" name="episode"
                             id="seriesSearchE" ng-model="episode"
                             placeholder="Episode"
                             ng-enter="initiateSearch()"
                             uib-tooltip="Enter an episode to search for."
                             tooltip-placement="top"
                             tooltip-trigger="mouseenter">
                    </div>
                  </div>
                </div>
                    </div>
            </div>
            
            <div class="row search-filters-row form-search">
              <div class="col-xs-20 col-sm-10 search-filter-group">
                <div class="row">
                  <div class="col-xs-10 pe-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Min</span>
                                    <input type="number" class="form-control" id="minage" ng-model="minage" ng-enter="initiateSearch()">
                                    <span class="input-group-addon">days</span>
                                </div>
                            </div>
                  <div class="col-xs-10 ps-0">
                                <div class="input-group">
                                    <span class="input-group-addon">Max</span>
                                    <input type="number" class="form-control" id="maxage" ng-model="maxage" ng-enter="initiateSearch()">
                                    <span class="input-group-addon">days</span>
                                </div>
                            </div>
                        </div>
                    </div>
              
              <div class="col-xs-20 col-sm-10 search-filter-group">
                <div class="row">
                  <div class="col-xs-10 pe-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Min</span>
                                    <input type="number" class="form-control" id="minsize" ng-model="minsize" ng-enter="initiateSearch()">
                                    <span class="input-group-addon">MB</span>
                                </div>
                            </div>
                  <div class="col-xs-10 ps-0">
                                <div class="input-group">
                                    <span class="input-group-addon">Max</span>
                                    <input type="number" class="form-control" id="maxsize" ng-model="maxsize" ng-enter="initiateSearch()">
                                    <span class="input-group-addon">MB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="row search-tools-row">
              <div class="col-xs-20 col-sm-8 col-md-7" ng-if="::showIndexerSelection">
                <div class="search-indexer-wrap">
                  <div multiselect-dropdown options="availableIndexerOptions"
                       selected-model="selectedIndexers"
                       settings="indexerSelectionSettings"
                       actions="indexerSelectionActions"
                       class="indexer-selection-dropdown">
                  </div>
                </div>
              </div>
              <div class="hidden-xs col-sm-6 col-md-8"></div>
              <div class="col-xs-20 col-sm-6 col-md-5 search-history-col">
                <div class="dropdown search-history-dropdown" uib-dropdown is-open="status.isopen" id="search-history">
                  <button id="history-dropdown-button" type="button" class="btn btn-default search-history-button btn-block"
                          uib-dropdown-toggle
                          ng-enter="initiateSearch()"
                          uib-tooltip="Drag an entry onto the search input to refill the form, or open the list to run one again."
                          tooltip-placement="top"
                          tooltip-trigger="mouseenter">
                    <span class="glyphicon glyphicon-time history-button-icon"></span>
                    <span class="history-button-text" style="display: inline !important;">Search history</span>
                    <span class="caret" style="position: absolute; right: 5px; top: 45%;"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu
                      template-url="static/html/search-searchhistory-dropdown.html"
                      aria-labelledby="button-template-url">
                  </ul>
                </div>
              </div>
              
              
              <div class="row search-actions-row">
                <div class="hidden-xs col-sm-6 col-md-5"></div>
                <div class="hidden-xs col-sm-6 col-md-8"></div>
                <div class="col-xs-20 col-sm-8 col-md-7 search-submit-button-row">
                  <button class="btn btn-default search-submit-button" type="button" id="startsearch"
                          ng-click="initiateSearch()"><span class="glyphicon glyphicon-search"></span> Go!
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="text-center" style="margin-top: 5px;" ng-if="showTourButton">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-info btn-sm" ng-click="startGuidedTour()" id="start-tour-button">
                <span class="glyphicon glyphicon-question-sign"></span> Take a Tour
              </button>
              <button class="btn btn-info btn-sm dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li>
                  <a href="" ng-click="hideTourForever()">Hide tour button</a>
                </li>
              </ul>
            </div>
          </div>

        </div>

    </div>
    
    <div class="search-results-separator" ng-if="showResultsSeparator()"></div>
    
    <!-- Search results go here -->
    <div ui-view="results"></div>
</div>

</div>
