<ul class="nav nav-tabs" role="tablist">
    <li ng-repeat="tab in allTabs" ng-class="{'active': $index == activeTab}">
        <a href="" ng-click="goToSystemState($index)">{{ tab.name }}</a>
    </li>

</ul>

<div class="tab-content" style="text-align: center">

    <div class="system-tab-content" ng-if="activeTab==0">
        <button class="btn btn-default" type="button" ng-click="shutdown()">Shutdown</button>
        <button class="btn btn-default" type="button" ng-click="restart()">Restart</button>
        <br>
        <button class="btn btn-info" type="button" ng-click="forceUpdate()" style="margin-top: 20px">Force update</button>
        <br>
        <button class="btn btn-info" type="button" ng-click="reloadConfig()" style="margin-top: 20px">Reload config from file</button>
        <br>
        <button class="btn btn-info" type="button" ng-click="migrate()" style="margin-top: 20px">Migrate from NZBHydra 1</button>
    </div>

    <div class="system-tab-content" ng-if="activeTab==1">
        <hydraupdates></hydraupdates>
    </div>

    <div class="system-tab-content" ng-if="activeTab==2">
        <hydralog></hydralog>
    </div>

    <div class="system-tab-content" ng-if="activeTab==3" style="text-align: center">
        <hydrabackup></hydrabackup>
    </div>

    <div class="system-tab-content" ng-if="activeTab==4">
        <ng-include src="'static/html/bugreport.html'"></ng-include>
    </div>

    <div class="system-tab-content" ng-if="activeTab==5">
        <ng-include src="'static/html/about.html'"></ng-include>
    </div>
</div>


<script type="text/ng-template" id="migrationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Migration from NZBHydra 1</h3>
    </div>
    <div class="modal-body" style="text-align: left">
        You are about to migrate from an installation of NZBHydra 1. This will overwrite your existing settings and database but a backup will be made before.<br>
        The migration can take a couple of minutes for huge databases.<br>
        <br>
        The old instance of NZBHydra 1 needs to be running and must be at least version 0.2.219. Please enter its base URL below.
        If it's basic auth protected please enter the URL like this: http://user:pass@127.0.0.1:5075. Migration from a form auth protected instance is not supported.

        <input type="text" data-ng-model="baseUrl" class="form-control input-lg" placeholder="http://127.0.01:5075" style="margin-top: 10px"/>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="yes()">Start migration</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>

</script>
