<configuration>
    <springProperty scope="context" name="logging.folder" source="main.logging.logfilename" defaultValue="logs"/>
    <springProperty scope="context" name="logging.level.console" source="main.logging.consolelevel" defaultValue="INFO"/>
    <springProperty scope="context" name="logging.level.file" source="main.logging.logfilelevel" defaultValue="INFO"/>
    <springProperty scope="context" name="logging.logMaxSize" source="main.logging.logging.logMaxSize" defaultValue="10"/>
    <springProperty scope="context" name="logging.logMaxDays" source="main.logging.logging.logMaxDays" defaultValue="30"/>
    <!--
    consolelevel: "DEBUG"
    keepLogFiles: 25
    logIpAddresses: true
    logMaxSize: 1000
    logRotateAfterDays: null
    consolelevel: "DEBUG"
    logfilename: "nzbhydra2.log"
    rolloverAtStart: false

    -->

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!--<variable scope="context" name="mdcPattern" value="%replace(SEARCH=%X{SEARCH}, ){'[a-zA-Z]+=(, |$)', ''}%replace(IP=%X{IPADDRESS}, ){'[a-zA-Z]+=(, |$)', ''}%replace( user=%X{USERNAME}){' [a-zA-Z]+=( |$)', ''}"/>-->
    <variable scope="context" name="mdcPattern"
              value="%replace(SEARCH=%X{SEARCH} ){'[a-zA-Z]+=( |$)', ''}%replace(IP=%X{IPADDRESS} ){'[a-zA-Z]+=( |$)', ''}%replace( user=%X{USERNAME}){' [a-zA-Z]+=( |$)', ''}"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %replace([${mdcPattern}] ){'^\\[\\] $',''}%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="FILE_LOG_PATTERN"
              value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15t] %-40.40logger{39} : %replace([${mdcPattern}] ){'^\\[\\] $',''}%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="DEBUG_LEVEL_REMAPPER" class="org.springframework.boot.logging.logback.LevelRemappingAppender">
        <destinationLogger>org.springframework.boot</destinationLogger>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="org.nzbhydra.logging.SensitiveDataRemovingPatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.console}</level>
        </filter>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="org.nzbhydra.logging.SensitiveDataRemovingPatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.file}</level>
        </filter>
        <file>${logging.folder}/nzbhydra2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.folder}/nzbhydra2.log.%d</fileNamePattern>
            <maxHistory>${logging.logMaxDays}</maxHistory>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${logging.logMaxSize}MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>${logging.folder}/nzbhydra2-log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.folder}/nzbhydra2-log.json.%d{yyyy-ww}</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
        </encoder>

    </appender>

    <logger name="org.nzbhydra" level="DEBUG">
        <appender-ref ref="STASH"/>
    </logger>
    <logger name="org.spring" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.eclipse" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>