<!-- Search Form -->
<div *ngIf="availableIndexers.length === 0">
  <div>
    <p-message severity="info" [text]="'No indexers are configured or enabled. Please go to the indexer configuration and add or enable some.'">
      <ng-template pTemplate="message">
        <div>
          <i class="pi pi-info-circle"></i>
          <span>No indexers are configured or enabled. Please go to the <a routerLink="/config/indexers" class="underline">indexer configuration</a> and add or enable some.</span>
        </div>
      </ng-template>
    </p-message>
  </div>
</div>

<div *ngIf="availableIndexers.length > 0">
  <form [formGroup]="searchForm">
    <!-- Main Search Input Group -->
    <div class="max-w-5xl mx-auto">
      <p-inputgroup>
        <!-- Category Dropdown -->
        <p-select
          class="max-w-[180px]"
          [options]="categories"
          formControlName="category"
          optionLabel="name"
          placeholder="Category">
        </p-select>
        
        <!-- Autocomplete Checkbox -->
        <p-inputgroup-addon *ngIf="shouldShowAutocomplete()">
          <p-checkbox
            formControlName="autocomplete"
            [binary]="true"
            [inputId]="'autocomplete'">
          </p-checkbox>
        </p-inputgroup-addon>
        
        <!-- Search Input with Autocomplete -->
        <p-autocomplete
            #queryInput
            formControlName="query"
            [suggestions]="autocompleteResults"
            (completeMethod)="onAutocompleteSearch($event)"
            optionLabel="title"
            placeholder="Query"
            (keypress)="onKeyPress($event)"
            (focus)="onAutocompleteFocus()"
            (blur)="onAutocompleteBlur()">
          <ng-template let-item pTemplate="item">
            <div>
              <!-- Cover Image -->
              <div *ngIf="item.posterUrl">
                <img [src]="item.posterUrl" [alt]="item.title">
              </div>
              <div *ngIf="!item.posterUrl">
                <i class="pi pi-image"></i>
              </div>
              
              <!-- Content -->
              <div>
                <div>
                  <div>
                    <div>{{ item.title }}</div>
                    <div *ngIf="item.year">{{ item.year }}</div>
                    <div *ngIf="item.label">{{ item.label }}</div>
                  </div>
                  <div>
                    <span *ngIf="item.imdbId">IMDB</span>
                    <span *ngIf="item.tmdbId">TMDB</span>
                    <span *ngIf="item.tvdbId">TVDB</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-autocomplete>
        
        <!-- Season Input -->
        <p-inputgroup-addon *ngIf="showSeasonAndEpisode">
          <i class="pi pi-calendar"></i>
        </p-inputgroup-addon>
        <p-inputNumber
          class="max-w-[50px]"
          *ngIf="showSeasonAndEpisode"
          formControlName="season"
          placeholder="S"
          [min]="1"
          [max]="99"
          (keypress)="onKeyPress($event)">
        </p-inputNumber>
        
        <!-- Episode Input -->
        <p-inputgroup-addon *ngIf="showSeasonAndEpisode">
          <i class="pi pi-play"></i>
        </p-inputgroup-addon>
        <p-inputNumber
          class="max-w-[50px]"
          *ngIf="showSeasonAndEpisode"
          formControlName="episode"
          placeholder="E"
          [min]="1"
          [max]="99"
          (keypress)="onKeyPress($event)">
        </p-inputNumber>
        
        <!-- Clear Button -->
        <p-button
          icon="pi pi-times"
          (onClick)="clearForm()"
          styleClass="p-button-outlined clear-button">
        </p-button>
        
        <!-- Submit Button -->
        <p-button
          icon="pi pi-search"
          label="Search"
          (onClick)="initiateSearch()"
          styleClass="p-button-success">
        </p-button>
      </p-inputgroup>
    </div>
    
    <!-- Indexer Selection -->
    <div *ngIf="showIndexerSelection">
      <p-card>
        <ng-template pTemplate="header">
          <div>
            <span>Indexers</span>
            <p-splitButton
              label="Options"
              icon="pi pi-cog"
              [model]="indexerOptions"
              styleClass="p-button-outlined p-button-sm">
            </p-splitButton>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div>
            <div *ngFor="let indexer of availableIndexers">
              <p-checkbox
                [inputId]="'indexer-' + indexer.name"
                [(ngModel)]="indexer.activated" [ngModelOptions]="{standalone: true}"
                (onChange)="onIndexerChange(indexer)"
                [binary]="true">
              </p-checkbox>
              <label [for]="'indexer-' + indexer.name">
                {{ indexer.name }}
              </label>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
    
    <!-- Filters -->
    <div>
      <!-- Age Filters -->
      <p-card header="Age">
        <ng-template pTemplate="content">
          <div>
            <div>
              <label>Min</label>
              <p-inputNumber
                formControlName="minage"
                placeholder="Min days"
                suffix=" days"
                (keypress)="onKeyPress($event)">
              </p-inputNumber>
            </div>
            <div>
              <label>Max</label>
              <p-inputNumber
                formControlName="maxage"
                placeholder="Max days"
                suffix=" days"
                (keypress)="onKeyPress($event)">
              </p-inputNumber>
            </div>
          </div>
        </ng-template>
      </p-card>
      
      <!-- Size Filters -->
      <p-card header="Size">
        <ng-template pTemplate="content">
          <div>
            <div>
              <label>Min</label>
              <p-inputNumber
                formControlName="minsize"
                placeholder="Min MB"
                suffix=" MB"
                (keypress)="onKeyPress($event)">
              </p-inputNumber>
            </div>
            <div>
              <label>Max</label>
              <p-inputNumber
                formControlName="maxsize"
                placeholder="Max MB"
                suffix=" MB"
                (keypress)="onKeyPress($event)">
              </p-inputNumber>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </form>
  
  <!-- Search Results -->
  <app-search-results
    *ngIf="showResults"
    [searchResponse]="searchResponse"
    [isLoading]="isSearching">
  </app-search-results>
</div>

<!-- Search Status Modal -->
<app-search-status-modal
  [isVisible]="showSearchStatusModal"
  [searchRequestId]="searchRequestId"
  (cancel)="onSearchCancel()"
  (showResults)="onShowResults()">
</app-search-status-modal>

<style>
    .search-form-wide {
        max-width: 75vw;
        min-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 1200px) {
        .search-form-wide {
            max-width: 98vw;
        }
    }

    .autocomplete-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000;
        background: white;
        border: 1px solid #dee2e6;
        border-radius: 0.375rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        max-height: 300px;
        overflow-y: auto;
    }

    .autocomplete-dropdown .list-group-item {
        border: none;
        border-bottom: 1px solid #dee2e6;
        cursor: pointer;
    }

    .autocomplete-dropdown .list-group-item:last-child {
        border-bottom: none;
    }

    .autocomplete-dropdown .list-group-item:hover {
        background-color: #f8f9fa;
    }
</style> 