/dist
/build
/flask_session
/.idea
*.db*
*.cfg*
*.bak
*.log*
**/*.pyc


**/.cache
nzbhydra.pid
#Ignore wrapper files copied to folders for pyinstaller to find
/pyInstaller/**/*.py
/pyInstaller/**/*.ico
/pyInstaller/**/VersionInfo*.txt
/pyInstaller/**/*.spec
/**/dist/
/venv
/venv_py3
