name: Java CI

on: [ workflow_dispatch ]


jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3
            -   name: Set up JDK 17
                uses: actions/setup-java@v3
                with:
                    java-version: '17'
                    distribution: 'adopt'
                    cache: maven
            -   name: Test with Maven
                run: mvn --batch-mode --update-snapshots verify
